.roomodes linguist-language=JSON

/*
 * Filename: /Users/antonioreid/01_DOING/XPRT/.gitattributes
 * Path: /Users/antonioreid/01_DOING/XPRT
 * Created Date: Monday, April 7th 2025, 4:27:17 pm
 * Author: Antonio J. Reid
 *
 * Copyright (c) 2025 10xAigency
 */

